.header {
	padding-top: 5px;
}

.leftArea {
	position: absolute;
	left: 10px;
	top: 70px;
	bottom: 20px;
	width: 260px;
	overflow-y: scroll;
}

.mainArea {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left: 300px;
	overflow-y: scroll;
	width: 300px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

label {
	diplay:block;
}

button {
	padding: 6px;
}

#searchKey {
	width:160px;
}